body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #121212, #1e1e1e);
    color: #FFD700;
    background-image: url('https://www.transparenttextures.com/patterns/cream-paper.png');
}

header {
    background: linear-gradient(135deg, #FFD700, #FFC107);
    color: #121212;
    padding: 1rem;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #121212;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
}

nav ul li a:hover {
    color: #FFD700;
    transform: scale(1.1);
}

main {
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: rgba(18, 18, 18, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    border: 1px solid #FFD700;
    transition: transform 0.3s, box-shadow 0.3s;
}

section:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

h1 {
    color: #000000; /* Черный цвет для заголовка */
}

h2, h3 {
    color: #FFD700;
    border-bottom: 2px solid #FFC107;
    padding-bottom: 0.5rem;
}

article {
    background-color: rgba(30, 30, 30, 0.8);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 4px solid #FFD700;
}

article:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.video {
    background-color: rgba(30, 30, 30, 0.8);
    padding: 1.5rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-left: 4px solid #FFD700;
}

footer {
    background: linear-gradient(135deg, #FFD700, #FFC107);
    color: #121212;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    main {
        padding: 1rem;
    }
}